<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Salsabeel Islamic School</title>
    <!--CSS files-->
    <link rel="stylesheet" href="styles/font-families.css">
    <link rel="stylesheet" href="styles/index.css">

    <!--JS files-->
    <script defer src="scripts/index.js"></script>
  </head>
  <body>