<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Salsabeel Islamic School</title>
        <link rel="stylesheet" href="styles/font-families.css">
        <link rel="stylesheet" href="styles/srms.css">
        <link rel="stylesheet" href="styles/srms-media-queries.css">
        <link rel="stylesheet" href="styles/notification-box.css">

        <script defer src="scripts/jspdf.min.js"></script>
        <script defer src="scripts/jspdf.plugin.autotable.min.js"></script>
        <script defer src="scripts/Nunito-Bold-normal.js"></script>
        <script defer src="scripts/Nunito-Regular-normal.js"></script>
        <script defer src="scripts/Poppins-Regular-normal.js"></script>
        <script defer src="scripts/image URIs/school-address-uri.js"></script>
        <script defer src="scripts/image URIs/transparent-logo-uri.js"></script>
        <script defer src="scripts/notification-box.js"></script>
        <script defer src="scripts/srms.js"></script>
        <script defer src="scripts/result-update.js"></script>
        <script defer src="scripts/view-result.js"></script>
        <script defer src="scripts/delete-result.js"></script>
        <script defer src="scripts/download-result.js"></script>
    </head>
    <body>