<%- include('./partials/sign_header.ejs') %>
    <!--
    <p class="sign-welcome-text">Account Recovery</p>
    <form action="user" method="POST">
        <p class="form-sign-text">Recover your account</p>
        <label for="username">Username<sup>*</sup></label><br>
        <input id="username" name="username" type="text" placeholder="Enter your username here..." required><br>
        <label for="password">Email<sup>*</sup></label><br>
        <input id="password" name="password" type="password" placeholder="Enter the email that you are using at Salsabeel Tahfeez College..." required><br>
        <button type="submit">Submit Request</button>
        <p>(<sup>*</sup>) indicates required fields.</p>
    </form>
    -->
    <center>
        <h1>Sorry, this section is still under development.</h1>
    </center>

<%- include('./partials/footer.ejs') %>