<%- include('./partials/home_headers.ejs') %>

    <header>
        <img  draggable="false" class="school-logo" src="imgs/Linear Logo.png" alt="School logo">
        <nav class="header-links">
          <a class="header-link" href="/">Home</a>
          <a class="header-link" href="programmes">Programmes</a>
          <a class="header-link" href="mission">Missions</a>
          <a class="header-link" href="vision">Vision</a>
          <img draggable="false" class="close-menu-icon" src="imgs/close.png" alt="Close icon">
        </nav>
        <img draggable="false" class="menu-icon" src="imgs/menu.png" alt="Menu icon">
        <a href="signin"><img draggable="false" class="login-icon" src="imgs/login.jpg" alt="Login icon"></a>
    </header>
    <section id="contact">
    <div class="section-content">
      <p class="section-title">Contact Us</p>
      <p>
        If you have any suggession or complaint concerning the college activities or the college website, 
        please feel free to contact us via our address in the page footer or write in the text area below.
      </p>
      <textarea suggessions-textarea placeholder="Type your message here..."></textarea><br>
      <button send-message>Send</button>
    </div>
  </section>

<%- include('./partials/footer.ejs') %>