<!--The school website rewrite started on 22nd August, 2023. Microsoft Visual Studio Code was used as the 
text editor for most part of the project. Some other parts were written in Atom
Author: Aminu Adamu Aminu-->
<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salsabeel Islamic School</title>
    <!--CSS files-->
    <link rel="stylesheet" href="styles/font-families.css">
    <link rel="stylesheet" href="styles/index.css">
    <link rel="stylesheet" href="styles/swipe-images.css">
    <link rel="stylesheet" href="styles/images-slider.css">
    <link rel="stylesheet" href="styles/cards-info.css">

    <!--JS files-->
    <script defer src="scripts/index.js"></script>
    <script defer src="scripts/swipe-images.js"></script>
    <script defer src="scripts/images-slider.js"></script>
    <script defer src="scripts/cards-info.js"></script>
  </head>
  <body>
    <!--Logo, navigation links, and login setup-->
    <header>
      <img  draggable="false" class="school-logo" src="imgs/Linear Logo.png" alt="School logo">
      <nav class="header-links">
        <a class="header-link" href="#home">Home</a>
        <a class="header-link" href="#about">About</a>
        <a class="header-link" href="programmes">Programmes</a>
        <a class="header-link" href="mission">Mission</a>
        <a class="header-link" href="vision">Vision</a>
        <a class="header-link" href="contact">Contact</a>
        <img draggable="false" class="close-menu-icon" src="imgs/close.png" alt="Close icon">
      </nav>
      <img draggable="false" class="menu-icon" src="imgs/menu.png" alt="Menu icon">
      <a href="signin"><img draggable="false" class="login-icon" src="imgs/login.jpg" alt="Login icon"></a>
    </header>
    <!--Cover image setup-->
    <section id="home">
      <div class="cover-image-content">
        <h1>Welcome to Salsabeel Tahfeez College</h1>
        <h2>The brighter future for every child</h2>
      </div>
    </section>
    <section id="about">
      <div class="section-content">
        <p class="section-title">About Us</p>
        <div class="about-section-text">
          <p>Click on any card below.</p>
        </div>
        <div class="cards-info">
          <div class="card">
            <div class="card-content teachers">
              <p class="card-title">Teachers</p>
              <p class="card-number"> <%= teachers.length %> </p>
            </div>
          </div>
          <div class="card">
            <div class="card-content classes">
              <p class="card-title">Classes</p>
              <p class="card-number"> <%= allClasses.length %> </p>
            </div>
          </div>
          <div class="card">
            <div class="card-content working-hours">
              <p class="card-title">Working Hours</p>
              <p class="card-number">8</p>
            </div>
          </div>
          <div class="card">
            <div class="card-content activities">
              <p class="card-title">Activities</p>
            </div>
          </div>
        </div>
        <p style="font-size: 3.3rem; font-weight: bold; text-align: center;">
          You're welcome!</p><br>
          <p style="font-size: 2.7rem; text-align: center ; color: #925923; margin-bottom: 2rem;">
          We're inspiring the next generation of the brightest minds.</p>
          <img class="image" src="imgs/equipment.jpg" alt="Image">
      <div class="info">
        <p class="info-title">Teachers</p>
        <img draggable="false" class="close-info" src="imgs/close.png" alt="Close info">
        <div class="details">
          <ul>
            <% teachers.forEach(teacher => { %>
              <li style="text-transform: capitalize;"> <%= teacher %> </li>
            <% }) %>
          </ul>
        </div>
      </div>  
      <div class="info">
        <p class="info-title">Current Classes</p>
        <img draggable="false" class="close-info" src="imgs/close.png" alt="Close info">
        <div class="details">
          <ul>
            <% allClasses.forEach(currentClass => { %>
              <li> <%= currentClass %> </li>
            <% }) %>
          </ul>
        </div>
      </div>  
      <div class="info">
        <p class="info-title">Working Hours</p>
        <img draggable="false" class="close-info" src="imgs/close.png" alt="Close info">
        <div class="details" style="text-align: justify;">
          The school operates for approximately to 8 hours. Beginning from Sundays to Thursdays, the college section
          begins its activities from 8 am to nearly 4 pm, while the nursery and primary section
          begins its activities from 8 am to 3 pm. The nursery and primary section does not operate on
          Sundays. On Fridays, the college section closes at 12:15 pm, while the nursery and primary section 
          closes at 12:00 pm.
        </div>
      </div>  
      <div class="info">
        <p class="info-title">Activities</p>
        <img draggable="false" class="close-info" src="imgs/close.png" alt="Close info">
        <div class="details">
          <p style="margin-bottom: 1.7rem; text-align: justify;">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non tenetur totam, ex dolores libero consequuntur nam deleniti, excepturi, 
          commodi sint iusto rerum consectetur cupiditate debitis sit itaque ullam incidunt numquam.</p>
          <p style="margin-bottom: 1.7rem; text-align: justify;">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non error exercitationem tenetur animi optio quaerat aliquam eius placeat. 
          Ipsam fugit sed cumque fuga vel quas omnis, eveniet error quo expedita?</p>
          <p style="margin-bottom: 1.7rem; text-align: justify;">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum iste laborum asperiores accusamus placeat labore vel assumenda fugiat. 
            Accusamus praesentium sapiente non maiores dicta vel consequuntur esse in illum fugiat. Architecto reiciendis provident illum optio 
            sunt dolorum necessitatibus id ipsam?
          </p>
        </div>
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error, ex fuga. Autem, eum corporis accusantium delectus obcaecati cupiditate nulla qui.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero obcaecati adipisci veritatis dignissimos exercitationem temporibus officia eum at 
        eligendi nam eius voluptate, recusandae iure sapiente. Inventore, nesciunt? Officia, vel nemo.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error, ex fuga. Autem, eum corporis accusantium delectus obcaecati cupiditate nulla qui.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero obcaecati adipisci veritatis dignissimos exercitationem temporibus officia eum at 
        eligendi nam eius voluptate, recusandae iure sapiente. Inventore, nesciunt? Officia, vel nemo.
      </p>  
      </div>
    </section>
    <section class="swipe-images">
      <p class="section-title">The School Heads</p>
      <p style="margin-bottom: 1rem;">Swipe the cards or click the arrow buttons.</p>
      <p class="backward">&lt;</p>
      <div class="images-swipe-content">
        <div class="swipe-card">
          <img class="swipe-image" draggable="false" src="imgs/muhammad.jpg" alt="Muhammad Image">
          <p class="staff-name">Imam Ridwanullah Jami'u</p>
          <p class="staff-post">Proprietor</p>
        </div>
        <div class="swipe-card">
          <img class="swipe-image" draggable="false" src="imgs/nasir.jpg" alt="Nasir Image">
          <p class="staff-name">Ustadh Badr</p>
          <p class="staff-post">Head of School</p>
        </div>
        <div class="swipe-card">
          <img class="swipe-image" draggable="false" src="imgs/bander.jpg" alt="Bander Image">
          <p class="staff-name">Aminu Adamu Aminu</p>
          <p class="staff-post">Principal</p>
        </div>
        <div class="swipe-card">
          <img class="swipe-image" draggable="false" src="imgs/ra'ad.jpg" alt="Ra'ad Image">
          <p class="staff-name">Anas Sabo</p>
          <p class="staff-post">Head Teacher, Nursery and Primary</p>
        </div>
        <div class="swipe-card">
          <img class="swipe-image" draggable="false" src="imgs/wadi.jpg" alt="Wadi' Image">
          <p class="staff-name">Abdulqadir Jimoh</p>
          <p class="staff-post">Head Teacher, Islamiyya</p>
        </div>
      </div>
      <p class="forward">&gt;</p>
    </section>
    <section class="images-slider">
      <p class="section-title">Gallery</p>
      <div class="slider-content">
        <div class="current-image">
          <img current-image draggable="false" src="imgs/library.jpg" alt="Library">
          <p>Click any of the images to preview it.</p>
        </div>
        <div class="slider-images">
          <img select-image draggable="false" src="imgs/library.jpg" alt="Library">
          <img select-image draggable="false" src="imgs/jotting.jpg" alt="Jotting">
          <img select-image draggable="false" src="imgs/right-shelf.jpg" alt="Right shelf">
          <img select-image draggable="false" src="imgs/blueprint.JPG" alt="blueprint">
          <img select-image draggable="false" src="imgs/collaboration.jpg" alt="collaboration">
        </div>
      </div>
    </section>
    <footer>
      <div class="address">
        <p>Salsabeel Tahfeez College</p>
        <p>Telephone: 123-345-6789</p>
        <p>Email: salsabeel@noor.com</p>
      </div>
      <p>&copy; 2023 Noorul Misbah</p>
      <p>All rights reserved.</p>
    </footer>
  </body>  
</html>