<%- include('./partials/home_headers.ejs') %>

    <header>
        <img  draggable="false" class="school-logo" src="imgs/Linear Logo.png" alt="School logo">
        <nav class="header-links">
          <a class="header-link" href="/">Home</a>
          <a class="header-link" href="mission">Mission</a>
          <a class="header-link" href="vision">Vision</a>
          <a class="header-link" href="contact">Contact</a>
          <img draggable="false" class="close-menu-icon" src="imgs/close.png" alt="Close icon">
        </nav>
        <img draggable="false" class="menu-icon" src="imgs/menu.png" alt="Menu icon">
        <a href="signin"><img draggable="false" class="login-icon" src="imgs/login.jpg" alt="Login icon"></a>
    </header>
    <section id="programmes">
        <div class="section-content">
          <p class="section-title">Our Programmes</p>
          <div class="column column-one">
            <p class="column-text">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae temporibus aut necessitatibus.
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae temporibus aut necessitatibus.
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae temporibus aut necessitatibus.
            </p>
            <div class="column-image">
              <img src="imgs/Learn.png" alt="Column image">
            </div>
          </div>
          <div class="column column-two">
            <div class="column-image">
              <img src="imgs/open-qur'an.jpg" alt="Column image">
            </div>
            <p class="column-text">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae temporibus aut necessitatibus.
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae temporibus aut necessitatibus.
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae temporibus aut necessitatibus.
            </p>
          </div>
          <div class="column column-three">
            <p class="column-text">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae temporibus aut necessitatibus.
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae temporibus aut necessitatibus.
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae temporibus aut necessitatibus.
            </p>
            <div class="column-image">
              <img src="imgs/closed-qur'an.jpg" alt="Column image">
            </div>
          </div>
          <div class="box three">
            No nation can prosper in life without education.
          </div>
        </div>
        </div>
      </section>

<%- include('./partials/footer.ejs') %>