<%- include('./partials/home_headers.ejs') %>

    <header>
        <img  draggable="false" class="school-logo" src="imgs/Linear Logo.png" alt="School logo">
        <nav class="header-links">
          <a class="header-link" href="/">Home</a>
          <a class="header-link" href="programmes">Programmes</a>
          <a class="header-link" href="mission">Mission</a>
          <a class="header-link" href="contact">Contact</a>
          <img draggable="false" class="close-menu-icon" src="imgs/close.png" alt="Close icon">
        </nav>
        <img draggable="false" class="menu-icon" src="imgs/menu.png" alt="Menu icon">
        <a href="signin"><img draggable="false" class="login-icon" src="imgs/login.jpg" alt="Login icon"></a>
    </header>
    <section id="vision">
        <div class="section-content">
          <p class="section-title">Our Vision</p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia eum sit nihil aut ea odit. 
            Quasi cumque ducimus pariatur aspernatur, fugit hic similique quod ex eveniet illo perspiciatis 
            repellat nesciunt commodi sunt quaerat nisi itaque nam non quidem temporibus suscipit, nihil ipsum 
            reprehenderit voluptates? Assumenda aut at suscipit magni ea.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, temporibus?
          </p>
          <img class="image" src="imgs/computers.jpg" alt="Image">
          <div class="box">
            We teach the Holy Book of Allah.
          </div>
        </div>
      </section>

<%- include('./partials/footer.ejs') %>